.login-page {
  min-height: 100vh;
  background: linear-gradient(45deg, #7efbd3,#bcb170);

}

.glass-card {
 
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fefafa;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
}

.login-card input {
  background-color: rgba(245, 239, 239, 0.9);
  border: none;
}

.login-card h3 {
  color: #100e0e;
}

.login-card .form-label {
  color: #0c0c0c;
}
